<!doctype html>
<html>
<head>
    <title>Face Attendance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Face Recognition Attendance Management System</h1>

<div class="menu">
    <a href="/add-student">Add Student</a>
    <a href="/capture-dataset">Capture Dataset</a>
    <a href="/train-model">Train Model</a>
    <a href="/start-attendance">Start Attendance</a>
    <a href="/attendance-report">View Attendance</a>
</div>

</div>

</body>
</html>